@model EMP.Models.Employee
 
<div class="row">
    <div class="col-12 offset-md-0">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Create Employee</h4>
            </div>
            <div class="card-body">
                <form asp-action="getAllUsers" asp-controller="Employee">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="@Model.EmpName"></label>
                        <input asp-for="@Model.EmpName" class="form-control" />
                        <span asp-validation-for="@Model.EmpName" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="@Model.Gender"></label>
                        <input asp-for="@Model.Gender" class="form-control" />
                        <span asp-validation-for="@Model.Gender" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="@Model.City"></label>
                        <span asp-validation-for="@Model.City" class="text-danger"></span>
                        <select asp-for="@Model.City" class="form-control">
                            <option>Select Your City</option>
                            <option>Noida</option>
                            <option>Delhi</option>
                            <option>Gurgaon</option>
                            <option>Ghaziabad</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label asp-for="@Model.Salary"></label>
                        <input asp-for="@Model.Salary" class="form-control" />
                        <span asp-validation-for="@Model.Salary" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="@Model.MobileNo"></label>
                        <input asp-for="@Model.MobileNo" class="form-control" />
                        <span asp-validation-for="@Model.MobileNo" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Create" onclick="return confirm('An employee record will be stored successfully in database')"
                               class="btn btn-success" />

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

